<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="ScandiPWA\Router\Controller\ConfigurableRouter" type="ScandiPWA\Router\Controller\Router">
        <arguments>
            <argument name="ignoredURLs" xsi:type="array">
                <item name="multisafepayCancelPaymentUrl" xsi:type="string">^/multisafepay/connect/cancel.*</item>
                <item name="multisafepaySuccessPaymentUrl" xsi:type="string">^/multisafepay/connect/success.*</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MultiSafepay\ConnectGraphQl\Plugin\Resolver\PlaceOrder">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="MultiSafepay\ConnectGraphQl\Observer\OrderRequest">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
