<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="MultiSafepay_ConnectGraphQl">
		<sequence>
			<module name="MultiSafepay_ConnectCore"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Payment"/>
            <module name="Magento_GraphQl"/>
            <module name="Magento_Quote"/>
            <module name="Magento_QuoteGraphQl"/>
		</sequence>
	</module>
</config>
